* {
    margin: 0;
    padding: 0;

    body {
        font-family: 'Verdana', sans-serif;
        background: #333;
        font-size: 20px;

        #container {
            padding: 50px;

            #wrapper {
                width: 22em;

                h1 {
                    color: #990;
                    padding-bottom: 0.2em;
                }
                a, input {
                    width: calc(100% - 4px);
                    height: 1.6em;
                }
                input[type=submit] {
                    border: 0;
                    background-color: #990;
                    font-size: 1em;
                    cursor: pointer;
                }
                a {
                    display: inline-block;
                    background-color: #990;
                    color: #000000;
                    text-decoration: none;
                    text-align: center;
                }

                dl {
                    margin-top: 1em;

                    dt, dd {
                        display: inline-block;
                        float: left;
                        margin-bottom: 1em;
                    }
                    dt {
                        width: 8em;
                        text-align: right;
                        padding-right: 1em;
                    }
                    dd { width: 13em; }
                }

                .flashes {
                    font-size: 14px;

                    * { padding: 0.5em; }
                    .error { background: #f5cee5; }
                    .info  { background: #cee5f5; }
                }

                .error {
                    background: #f0d6d6;
                    padding: 0.5em;
                }
            }
        }
    }
}

